<div class="row">
	<div class="col col-sm-12 col-md-12">
		<%= link_to "New", new_product_path, :class => "btn btn-primary float-right" %>
	</div>
</div>
<table class="table">
	<thead>
		<tr>
		<th>Image</th>
		<th>Name</th>
		<th>Metrics</th>
		<th>Description</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
		<% i = 1 %>
		<% @products.each do |product| %>
			<tr>
				<td><%= image_tag product.image.variant(resize_to_limit: [100, 100]) if product.image.attached? %></td>
				<td><%= product.name  %></td>
				<td><%= product.metrics  %></td>
				<td><%= product.description  %></td>
				<td><%= link_to fa_icon("pencil"), edit_product_path(product.id),  :class => "pencil" %> &nbsp;&nbsp; 
						<%= link_to fa_icon('trash'), delete_product_path(product.id), data: {confirm: "Are you sure, Delete #{product.name}?"}, :class => 'trash' %>
					</td>
			</tr>
			<% i += 1 %>
		<% end %>
	</tbody>
</table>